#landingPage {
	/*opacity:  0.60*/
	background-color: rgba(0, 0, 0, 0.6);
}

body {
	background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#gmap_canvas {
	height: 80vh;
	widows: 100%;
}

.fa-icons {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;
}

